<div id="movie-wrapper">
	<img src="{{image}}" />
	<div id="movie-info-wrapper">
		<a href="/movies">Go Back</a>
		<h1>{{title}}</h1>
		<h2>Director: {{director}}</h2>
		<h3>Stars</h3>
		<ul>
			{{#each stars as |star|}}
			<li>{{star}}</li>
			{{/each}}
		</ul>
		<p>{{description}}</p>
		<p>
			{{#each showtimes as |showtime|}}
			<span>{{showtime}}</span>
			{{/each}}
		</p>
	</div>
</div>